<%= stylesheet_link_tag "shared/headerber", :media => "all" %>

<div id="headerbar_">
  <div id="titlerogo_">Slatter</div>
  <div id="headerbar_link_">ＨＯＭＥ　<%= link_to 'Ｔｌ', '/tls/index' %></div>
</div>
