body{
  background-color: orange;
}

#header{
  background-color: blue;
  margin-top: 5px;
  margin-right: auto;
  margin-left : auto; 
  width : 15%;
  height: 5%;
  font-size: 35px;
  text-align: center;
}

#main{
  background-color: red;
  margin-top  : 20px; 
  margin-left : auto;
  margin-right: auto;
  padding: 2%;
  width : 60%;
  height: 70%;
  font-size: 30px;
}

  #form_area{
  	background-color: green;
    margin-left : auto;
    margin-right: auto;
  	text-align: center;
  	width : 98%;
  	height: 98%;
  }
