
#header{
  background-color: blue;
  width : 100%;
  height: 5%; 
}

#main{
  background-color: red;
  margin : 1% auto;
  padding: 1%;
  width : 60%;
  height: 70%;
}

.rogo{
  color: orange;
  font-size: 120%;
  font-family:Comic Sans Ms;
}

#form_area{
  background-color: yellow;
  margin : auto;
  padding: 1%;
  width  : 90%;
  height : 75%;
}

#form_head{
  margin: 0% auto 1% auto;
  margin-bottom: 1%;
  text-align: center;
  font-size : 300%;
  width : 80%;
  height: 15%; 
}

#error_message{
  padding-top: 10px;
  margin-right: auto;
  margin-left : auto;
  width : 70%;
  height: auto;
}

ul{
  margin: 0% auto;
  width : 70%;
  height: 70%; 
}


li{
  height: 40px;
  margin   : 6%;
  font-size: 150%;
  border-bottom: dashed 5px #0000ff;
}

.form_text_field{
  width : 40%;
  height: 20px;
  margin-right : 10px;
  margin-bottom: 20px;
  float : right;
  font-size: 20px;
}

#form_submit{
  background-color: red;
  width : 2%;
  height: 2%;
  margin-left: auto;
  margin-right: auto;
}